[2020-07-28 18:31] MAYAS3 opened #1 "Convert code to production"

[2020-07-28 18:31] MAYAS3 opened #2 "Dual CPU-GPU support"

[2020-07-28 18:32] MAYAS3 opened #3 "Add support for fasttext embeddings"

[2020-07-28 18:32] MAYAS3 opened #4 "Add exception handling"

[2020-07-28 18:32] MAYAS3 opened #5 "Handle path conventions (linux vs windows)"

[2020-07-28 18:32] MAYAS3 opened #6 "Add unit tests"

[2020-07-28 18:32] MAYAS3 opened #7 "Add CI"

[2020-07-28 18:32] MAYAS3 opened #8 "Add doc"

[2020-07-28 18:32] MAYAS3 opened #9 "Unify formatting (yapf)"
Use template

[2020-08-13 16:44] davebulaval opened #12 "Add init import"

[2020-08-13 16:44] davebulaval opened #13 "Add License"

[2020-08-13 16:47] davebulaval opened #14 "Add url in setup.py"

[2020-08-13 16:49] davebulaval opened #15 "Validate install_requires in setup.py"

[2020-09-17 02:07] #13 closed, assigned to davebulaval

[2020-09-17 02:07] #8 closed, assigned to nobody

[2020-09-17 02:07] #7 closed, assigned to davebulaval

[2020-09-17 02:07] #1 closed, assigned to MAYAS3

[2020-09-17 02:08] #9 closed, assigned to davebulaval

[2020-09-17 02:08] #3 closed, assigned to nobody

[2020-09-17 02:08] #2 closed, assigned to MAYAS3

[2020-09-17 02:09] #12 closed, assigned to nobody

[2020-09-18 18:43] #15 closed, assigned to nobody

[2020-09-18 21:08] freud14 opened #21 "Few comments"
Hi,
Here is a few comments on the library.

Let's start with the big one. I noticed that the documentation web site documents almost everything in the library. Is it on purpose? I mean, in software engineering, if you document it, it means that you intend to support all these different parts and that their interfaces should remain stable. In my opinion, you should document only the parts that are

[2020-09-21 14:37] #21 closed, assigned to nobody

[2020-09-21 22:56] #5 closed, assigned to MAYAS3

[2020-09-22 13:52] freud14 opened #27 "eval method not necessary in networks"
Hi,
I noticed that your networks all contain a eval() method. However, this method is not necessary since it is already called recursively by PyTorch. I think they should be removed.
Thank you.

[2020-09-22 15:29] MAYAS3 opened #28 "Pretrained model doesn't need to inherit from nn.Module"
https://github.com/MAYAS3/deepparse/blob/dbc7236ed31e3878487298adbe99967561501a75/deepparse/network/pre_trained_seq2seq.py#L14

since we us this class as a wrapper and we do not aim to optimize the pretrained models, we do not have to inherit from nn.module here

[2020-09-22 15:31] #4 closed, assigned to nobody

[2020-09-22 15:45] #28 closed, assigned to nobody

[2020-09-22 16:18] freud14 opened #30 "fasttext is the lightext and bpemb is the most accurate?"
Hi,
The fasttext model needs 9 GB of RAM to be loaded but is the most accurate if my memory serves? So it would be the most accurate but not the lightest. Also, I think it should be mentionned somewhere in the doc that it takes that much memory to be loaded?
Thank you.

[2020-09-22 16:24] freud14 opened #31 "fasttext model not loading"
![](https://i.imgur.com/pQgSRMo.png)

[2020-09-22 16:32] #27 closed, assigned to nobody

[2020-09-22 17:11] davebulaval opened #33 "fastText pre-trained embeddings"
Since the download of the pre-trained fastText embedding is pretty long, I think we should add a note in the doc to be more clear with the user.

Also, should we put a message, warning when we download the model as per gensim? The reason been, in my case when using a remote terminal in PyCharm the updated print does not show.

@MAYAS3 @freud14

[2020-09-22 19:32] davebulaval opened #35 "Update .ckpt model in cache"

[2020-09-22 19:45] davebulaval opened #36 "Add script to download the .cache element"
The case where the node doesn't have access to the internet (i.e. calcul québec)

[2020-09-22 20:26] #31 closed, assigned to nobody

[2020-09-22 21:06] freud14 opened #38 "Code for fasttext not working"
Loading is fine now, but inferring does not work.

![image](https://user-images.githubusercontent.com/1090012/93937456-d4775980-fcf5-11ea-82e9-b037d4bcb9ef.png)

I also made the test in an old commit but had the same errors.

[2020-09-22 21:28] #38 closed, assigned to nobody

[2020-09-23 01:52] #36 closed, assigned to nobody

[2020-09-23 01:52] #35 closed, assigned to nobody

[2020-09-23 01:52] #33 closed, assigned to nobody

[2020-09-23 15:44] freud14 opened #41 "Use memory mapping when loading embeddings"
One idea for a future release would be to load the embeddings via memory mapping instead of loading them all into memory.

For fasttext, it seems that the Fasttext API does not support memory mapping. However, [gensim seems to support it](https://radimrehurek.com/gensim/models/fasttext.html#gensim.models.fasttext.FastText.load) but not with the fasttext format. So, either we save the current embed

[2020-10-15 14:59] #6 closed, assigned to nobody

[2020-10-15 14:59] #30 closed, assigned to nobody

[2020-10-15 15:35] davebulaval opened #46 "Propose a external-ressources to allow posting of new data"

[2020-10-16 17:30] #14 closed

[2020-10-16 21:23] freud14 opened #50 "Repeated words gets overwritten in output."
See the example shown on the website:
![image](https://user-images.githubusercontent.com/1090012/96309753-e9cd6400-0fd3-11eb-92f1-c61dd7bf6583.png)

It seems that the second "Québec" overwrites the first one that is supposed to be the municipality. It's probably because of the dict that associated the words with the class.

[2020-10-17 00:06] #50 closed

[2020-10-19 19:09] nathanshartmann opened #52 "Model weights are not available"
Trying to download weights from http://graal-research.github.io/deepparse-external-assets/bpemb.ckpt.

https://www.graal-research.github.io website seems to be offline.

[2020-10-19 19:23] davebulaval commented on #52
Sorry, will fix it right away, I've moved the assets but forgot to push it in master and in a new release.

[2020-10-19 19:31] davebulaval commented on #52
@nathanshartmann I'm waiting for the build and tests to push a new version. Will be up and running in a couple of minutes.

[2020-10-19 19:51] davebulaval commented on #52
Fixed with release 0.11.2 #53

[2020-10-19 19:52] #52 closed

[2020-10-19 20:51] davebulaval commented on #52
I've made a version mistake in the rush, notice I've pushed a newer version 0.1.2 instead of 0.11.2.

[2020-10-27 20:13] davebulaval opened #55 "[feature] fine-tuning of models"
Add an API to allow the fine-tuning of the models.

[2020-10-27 20:21] davebulaval opened #56 "[performance] comma"
Addresses with comma seem to lower performance.

[code]
[code]

[2020-10-27 20:33] davebulaval commented on #56
From our training dataset, less than `0,006`% of our address contains at least a comma.

[2020-10-27 20:39] davebulaval opened #57 "[improvements] Models improvements"
### Data augmentations:

- [x] `,` in addresses (#56)
~- [ ] order noise [WIP]~
- [x] incomplete address noise (no postal code, no city) (#78)

### Tags improvement:

~~- [ ] Adding a Country tag~~
- [x] Retrain new tags (#81)

### New models:
- [x] attention model (#105)

### Smaller models
- [x] half size for hidden size (#103)

[2020-11-01 23:11] davebulaval opened #61 "Yapf and Pylint are not setted on tests"
To add in Travis and fix the pylint.

[2020-11-02 21:04] davebulaval commented on #56
Fixed using the removal of `,`. Will improve robustness in further models.

[2020-11-02 21:04] #56 closed

[2020-11-07 18:33] #61 closed

[2020-11-07 18:33] davebulaval commented on #61
#62

[2020-11-23 14:55] etiennebr opened #65 "LGPL licence"
I'd like to contribute to the project, but the LGPL license is quite restrictive because all derivatives can only be redistributed under LGPL v3 license (as I understand it). I'm not sure it is a complete blocker, but it might be an issue down the road. Would you consider relicensing the project under a slightly more permissible license, such as GPL or MIT (or another)?

[2020-11-23 15:24] freud14 commented on #65
Hi @etiennebr, while I am not one of the main developers of the project, let me just weigh in on why I think the LGPL is a good license for this project.

One important concept to understand in licensing is the concept of distribution. For most open source licenses to apply, the software has to be distributed in some way. For instance, selling the software is distribution. Giving it as a download

[2020-11-23 15:38] davebulaval commented on #65
What type of issue do you have in mind?

[2020-11-23 16:04] davebulaval commented on #65
From my understanding, a person/cie can use the software as he wants, but if he modifies our codebase, he needs to opensource the code?

[2020-11-23 16:13] freud14 commented on #65
Yes but only if the software is distributed, hence my paragraph on what constitutes distribution.

[2020-11-23 16:33] etiennebr commented on #65
Thanks @freud14, I'm really out of my comfort zone here, so thanks for the clarification. My first issue is that the legal approval is not as straightforward as MIT, for example. So I'll see how it turns out with the lawyers and get back to you if it still poses an issue.

[2020-11-23 16:33] #65 closed

[2020-12-18 23:08] davebulaval commented on #41
#54

[2020-12-18 23:08] #41 closed

[2020-12-24 20:40] #55 closed

[2020-12-25 15:53] davebulaval opened #68 "[FEATURE] NER address parser"

[2020-12-25 16:53] davebulaval commented on #68
Look at SpaCy NER and integrate a complete pipeline for extracting the address in a text.

[2020-12-25 17:18] MAYAS3 opened #69 "Allow for custom ground truth specification for training"
Allow users to train a parser and make predictions with their own tags

[2020-12-25 17:19] davebulaval opened #70 "[FEATURE] Improve README with table of results and countries"
Add a simplified version of our tables and a noisy data table.

[2020-12-25 17:19] davebulaval opened #71 "[FEATURE] Improve documentation and README"
Improve documentation with _Major differences_ between us and Libpostal.

[2020-12-25 17:22] MAYAS3 opened #72 "Add comparison with related work to docs & readMe"

[2020-12-25 17:24] #72 closed

[2020-12-27 04:14] #70 closed

[2020-12-27 04:42] davebulaval opened #74 "[FEATURE] Release train and test dataset"
Release the dataset (in pickle format)

- Add a README file with the dataset
- Add a LICENSE
- Add the link in doc and GitHub README

[2020-12-27 04:42] davebulaval commented on #74
ETA january

[2020-12-27 04:42] davebulaval commented on #57
ETA januray

[2020-12-28 23:27] MAYAS3 opened #75 "Add handling for server connexion errors"

[2020-12-28 23:30] davebulaval commented on #75
We use the following:

[code]

But, maybe add handling for time out error?

[2021-02-14 21:54] tk512 opened #79 "[Question] Training noisy data from another country?"
If I have a large dataset with noisy raw addresses and also correctly parsed results for each one, how do I start with training deepparse to get a trained dataset?

The raw+result data I have is currently in CSV format but with a bit of scripting I can easily transform into another format.  I just don't completely understand how to train Deepparse for this.

[2021-02-14 22:47] MAYAS3 commented on #79
Hello!

Allow me to refer you to our docs (https://deepparse.org/examples/fine_tuning.html) where a complete training exemple is present.

In short all you have to do is transform your data into a list of tuples where the first element of each tuple is the address in a string format and the second element is a list of tags corresponding to the words in the address (e.g: ('south fraser way abbotsfo

[2021-02-17 15:20] davebulaval commented on #79
Note that we are working on newer models with the tag "country" (#57).

We are also looking to publish our clean and noisy dataset soon, and we are looking for new data. Is it possible for you to share your data under an MIT license (or something similar)?

[2021-03-13 15:10] wildangunawan commented on #79
Hi, just want to make sure: Is it typos there on the example (3 "StreetName")?

[2021-03-14 15:33] jomariya23156 opened #80 "[RuntimeError] Retrain Error"
Hi, I got this error when I tried to retrain the model. What could be possible causes?

### RuntimeError: The size of tensor a (16) must match the size of tensor b (17) at non-singleton dimension 1

I used this code setting
[code]

I have transformed my training data into a pickle file with the right format as the example in the doc; list of tuples ( 'address text', [list of tags corresponding to

[2021-03-14 16:26] MAYAS3 commented on #79
It's nota typo. What we actually do is return a tag for each word and since *south fraser way * is a street name we assign the **StreetName** tag to each word and then let you choose the way you wish to process the output.

For your second point, it should be a list of tuples: [(address1, tags1), (address2, tags2), ....]

Can you share the stack trace of your error so I get a better idea where the

[2021-03-14 16:39] MAYAS3 commented on #80
There seems to be a size mismatch pertaining to the sequence lengths. Could you please share the stack trace associated with the error so I can get a better understanding of what happened?

[2021-03-15 02:25] jomariya23156 commented on #80
Here it is.
Also, this is my pickle data file that I'm about to retrain and its .csv version before dumping it to a pickle file.
https://drive.google.com/file/d/1YHFSgQ2JpFL-mx_fhOa5Gwl6pEocBQa-/view?usp=sharing
[code]

[2021-03-15 04:33] wildangunawan commented on #79
OOOHHH. I'm the one that's wrong here, hehe. Okay got it.

What if I have a sentence that don't belong to any tag? For example: We sell apple at Orchid Park Street.

Here: we, sell, apple, and at don't belong to any tag but I want to get the "Orchid Park Street" instead for StreetName tag.

[2021-03-15 13:47] davebulaval commented on #79
Yes exactly. But I don't think we have seen addresses like that, if you see a drop in performance, maybe do a little retraining.

If you have numerous addresses like that, we would be interested to have those to create a large database and made them available for the community.

[2021-03-18 03:45] wildangunawan commented on #79
Unfortunately it's not possible for me to share the dataset since it's not owned by me and only for a competition only :)

[2021-03-18 16:34] #79 closed

[2021-03-18 16:36] davebulaval commented on #80
It seems like some data points have not the same length between the # of tag and the ground truth. We split the sequence using the whitespace character maybe you can take a look at that.

[2021-03-18 18:45] jomariya23156 commented on #80
@davebulaval I have store my labeled list to retrain the model as the 'target' column in my DataFrame and I use these lines
[code]
The output is 0. This is to make sure that the number of raw string words (raw_address) split by whitespace is equal to the number of elements in the list for retraining the model.

[2021-03-18 20:43] davebulaval commented on #80
Can you share me in private (or not) your code. I've also tested on my side, and I have the same results. Maybe something buggy happened later on during the vectorizing (we also remove the `,` since none were shown during training, which lowered the results (we are working on a more robust fix).

[2021-03-19 09:47] jomariya23156 commented on #80
Here you go.
https://drive.google.com/file/d/1P7jC-vI335vFTuFzGGJDXzeX4Qv-5rpr/view?usp=sharing
Train data, Data preparation for training, Training process are in this zip.

[2021-03-19 19:46] davebulaval commented on #80
On my side, using the pickled data, I have differences between some address and ground truth.

[code]

[2021-03-22 15:15] jomariya23156 commented on #80
@davebulaval Ah, I got it. In some cases, there are double white spaces, so .split() will give an extra whitespace token which I didn't label and deal with it for training. Thanks a lot!

[2021-03-22 15:15] #80 closed

[2021-03-22 18:40] davebulaval commented on #80
Can you send after the cleaner address in a CSV so we can improve the original dataset (that we want to release soon)?
Also, if you can include your complete name to be added as an author of this part of the dataset.

[2021-03-23 01:07] jomariya23156 commented on #80
I'm afraid not. This is the dataset I got from the recent Shopee Code League 2021 competition (SEA coding competition) and the competition has already been concluded. So, I'm done with this project and currently working on another one. However, you can access this page https://www.kaggle.com/c/scl-2021-ds/code, I saw some people posting their cleaning process code there. Hope this helps.

[2021-03-24 11:20] harirajeev commented on #74
Hi , any update on releasing train and test datasets ? Thanks

[2021-03-25 19:22] davebulaval commented on #74
There you go https://github.com/GRAAL-Research/deepparse-address-data

[2021-03-25 19:22] #74 closed

[2021-03-30 04:56] harirajeev commented on #71
Hi , thank you for this very useful repo. Could you please share link to pretained models and update inference documentation. Thanks

[2021-03-31 14:16] davebulaval commented on #71
#82

[2021-04-02 15:58] davebulaval opened #83 "[BUG] When large data, since we don't use a dataloader OOM for GPU"
We should move to a DataLoader instead with a batch_size and multithreads.

[2021-04-02 17:41] davebulaval commented on #83
Fixed in #84
Missing test if improvement of speed.

[2021-04-02 22:57] davebulaval opened #86 "[BUG] Cutting of predictions"
Since we don't sort the sequence (and the len of then) we were taking the max len as the first element of the max_len. So most of the cases we cut the sequence to tag.

[2021-04-02 22:59] davebulaval commented on #86
fixed here #85

[2021-04-02 22:59] #86 closed

[2021-04-04 17:43] davebulaval commented on #83
Fixed the mean time table

[2021-04-04 17:43] #83 closed

[2021-04-12 00:37] lokkju opened #88 "Generating training data for USPS address parsing"
Note: I *may* be able to make whatever training dataset I create available under an open license; it's a goal for sure.

I'm trying to create a good dataset to use for training for parsing USPS (United States) addresses using proper USPS address parts. I have both an enormous dataset (millions) of clean addresses correctly labeled, as well as some (hundreds of thousands) of dirty addresses that ha

[2021-04-12 20:26] davebulaval commented on #88
Marouane and I are in the rush of writing an extended version of the original article behind Deepparse and we are at the end of our semester, so we might have a delay in our response. But _rapidly_ here some insight that I have (feel free to continue update on your project since we are more than interested to add your dataset to our open-source [one](https://github.com/GRAAL-Research/deepparse-add

[2021-04-16 04:37] lokkju commented on #88
Thanks for the reply and input; I'll keep you updated for sure!

[2021-04-16 16:46] janchanyk opened #89 "[BUG] Received "TypeError: can't pickle fasttext_pybind.fasttext objects" when trying to retrain"
**Describe the bug**

I was following the retrain instruction on the page, https://deepparse.org/examples/fine_tuning.html and I received the below error messages.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\janch\.conda\envs\py36\lib\site-packages\deepparse\parser\address_parser.py", line 327, in retrain
    callbacks=callbacks)
  File "C:\Users\janc

[2021-04-17 19:52] davebulaval commented on #89
Do you have the same problem with the prediction with the newer version?
Does it work if you put num_workers=1?

It seems like a multiprocessing problem since Fasttext in C++.

[2021-04-19 17:12] davebulaval commented on #89
Put 0 not 1 for the num_workers.

[2021-04-21 17:14] davebulaval commented on #89
I don't own a Windows os build; I will try to add Windows, Mac, and Linux OS tests in the following weeks.

Does it work on GPU?

[2021-04-21 21:24] davebulaval opened #90 "[FEATURE] Conda Forge Release"
https://medium.com/@giswqs/building-a-conda-package-and-uploading-it-to-anaconda-cloud-6a3abd1c5c52

[2021-04-22 03:35] janchanyk commented on #89
Hello David,

After I put num_workers = 0, it's working fine now.  100 x thanks for your
kind information.
So does it means, num_workers means the number of GPU to be used? And 0
means to use CPU, is that correct?
I don't have GPU at home, so I can't help to make a try on this.

Another question I would like to ask, how can I create my own set of data
for training?
Because I am from Hong Kong, and

[2021-04-22 21:15] davebulaval commented on #89
Hi,

No num_workers is the number of workers to use for the dataloader to pre_process the data. When set to 0, it only means keep the actual one we use for the process. It has nothing to do with GPUs. The interest to use more than 1 (here see 0) is to have faster processing of the data.

Yes for sure, [here](https://github.com/GRAAL-Research/deepparse-address-data) is our dataset information repo.

[2021-04-22 21:17] davebulaval commented on #89
For the problem of using more than one worker, I will try to find a fix soon. It's "complex" since I don't own a Windows computer but I know what is the root of the problem.

[2021-04-23 12:48] janchanyk commented on #89
Thank you so much for your information, and would give it a try.

On Fri, Apr 23, 2021 at 5:16 AM David Beauchemin ***@***.***>
wrote:

[2021-05-11 14:40] davebulaval commented on #89
We've just released a new version where we use the Gensim FastText model for Windows computers. It takes a little bit more of RAM but works properly when having multiple workers in the dataloader.

[2021-05-11 18:18] janchanyk commented on #89
That’s cool and thank you for the follow up on the case.

On Tue, 11 May 2021 at 22:41, David Beauchemin ***@***.***>
wrote:

[2021-05-11 20:36] #89 closed

[2021-05-22 20:52] #75 closed

[2021-05-22 20:59] #46 closed

[2021-05-26 19:30] theiman112860 opened #92 "I use the following line: [BUG]"
Hi,

I am using Windows and the latest version of Anaconda

from deepparse.parser import AddressParser

Generates the following errors:

C:\Users\Owner\Anaconda3\lib\site-packages\gensim\utils.py:1197: UserWarning: detected Windows; aliasing chunkize to chunkize_serial
  warnings.warn("detected Windows; aliasing chunkize to chunkize_serial")
--------------------------------------------------------

[2021-05-27 18:06] theiman112860 commented on #92
This was compile error i.e. user stupidity

[2021-05-27 18:06] #92 closed

[2021-05-27 18:07] theiman112860 opened #93 "converting output of multiple addresses to table[BUG]"
I am trying to use the following code to extract the individual address elements and put them into a dataframe:

[code]
I get the following error:

pd.DataFrame(parsed_address["ParsedAddress"].to_list(), ---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-76-1c1eee8cd2ba> in <module>

[2021-05-28 13:53] davebulaval commented on #93
1. `parsed_address` is a list, meaning that `parsed_address["ParsedAddress"]` means nothing since you cannot subscript using a string. If you want to take the first element of the list, do `parsed_address[0]`.
2. The parse address doesn't have a `to_list()` method, so you will need to manually add a logic to put every address's components in a column.

But, I must say that the idea is good, so I w

[2021-05-28 15:01] davebulaval commented on #93
I've just released a new version with the new method and an example of how to it (https://deepparse.org/examples/parse_addresses.html).

[2021-05-28 15:08] theiman112860 commented on #93
Hi David,

Thank you!! Silly question: do I need to reinstall it? Thank you!!

Sincerely,

Tom

Sent from my iPhone

[2021-05-28 15:10] davebulaval commented on #93
Yes, you do.
Do, `pip install -U deepparse`

[2021-05-28 15:10] #93 closed

[2021-06-09 19:15] #69 closed

[2021-06-14 22:58] davebulaval opened #95 "[FEATURE] Address tagging comparison"
Feature to compare an address tagging with our tag prediction.

[2021-06-15 21:32] #90 closed

[2021-08-20 12:08] chandrai opened #97 "Retrain Issue with "bpemb" model"
While retraining with "bpemb" model_type, the model is not at all running. Its getting stuck forever. No checkpoints are getting created as well. What could be the reason?

<img width="1135" alt="Screen Shot 2021-08-20 at 5 24 59 PM" src="https://user-images.githubusercontent.com/39342768/130229460-f90f4e9d-7bed-40f3-a575-f69f10f9ec97.png">

[2021-10-01 14:34] davebulaval commented on #95
Merged #96

[2021-10-01 14:34] #95 closed

[2021-10-02 06:17] arinzea opened #98 "'tuple' object has no attribute 'lower' in addres_parser"
**Describe the bug**
I am running the example from the documentationhttps://deepparse.org/examples/parse_addresses.html but getting an error with converting tuple object to lower case

**To Reproduce**
parsed_addresses = address_parser(test_data[0:300])

[2021-10-02 06:21] arinzea opened #99 "RuntimeError: Error(s) in loading state_dict for FastTextSeq2SeqModel"
I am running the example from the docs https://deepparse.org/examples/retrain_with_new_prediction_tags.html.
 however the retrain function
`address_parser.retrain(training_container,
                       0.8,
                       epochs=5,
                       batch_size=8,
                       num_workers=2,
                       callbacks=[lr_scheduler],
                       predictio

[2021-10-04 12:50] MAYAS3 commented on #98
Hello Arinze,

Thank you for showing interest into our library :)

The problem seems to be that `test_data` is a list of tuples instead of strings which shouldn't be the case.

I have just tested the code in the examples and everything runs smoothly.

Could you check the content of `test_data` and get back to me?

Also, which version of **deepparse** do you have installed?

[2021-10-04 13:30] MAYAS3 commented on #99
Hello Arinze,

This is strange. I've just run the example and I was able to retrain the model without issues.

Are you running the last version of deepparse?

If not, could you please upgrade and try again?

[2021-10-07 21:16] arinzea commented on #98
Hi Marouane,

Thanks. It works now okay.

[2021-10-07 21:56] arinzea commented on #99
Thanks Marouane, it now works with the fixed version 0.4.4.
I have a use case for retraining sample English address data (from[ AddressBase](https://www.ordnancesurvey.co.uk/business-government/products/addressbase-premium)) and parsing some of the fields.

[2021-10-11 15:04] arinzea opened #101 "Attribute error with predicting new tags [BUG]"
I am trying to retrain with new prediction tags from the example here [https://deepparse.org/examples/retrain_with_new_prediction_tags.html](url)

`address_parser.test(test_container, batch_size=256)` returns test accuracy of 96%
`Running test
Test steps: 4 0.37s test_loss: 0.703016 test_accuracy: 96.733354
{'time': 0.3694855499998084,
 'test_loss': 0.7030158100128174,
 'test_accuracy': 96.7333540

[2021-10-14 02:19] davebulaval commented on #101
Can you share more code? I have two hypotheses about the problem.

[2021-10-14 02:19] davebulaval commented on #97
@chandrai do you still have a problem?

[2021-10-14 02:20] #88 closed

[2021-10-14 06:04] chandrai commented on #97
I ran it in GPU and then it worked. In cpu, it was not running.

[2021-10-14 06:04] #97 closed

[2021-10-21 18:50] #101 closed, assigned to davebulaval

[2021-12-03 16:37] riccardoruspoli opened #106 "No 'EOS' attribute when parsing uncorrectly spaced address"
**Describe the bug**
When an address containing a comma with spaces before __and__ after is parsed, an AttributeError with the following description is thrown: `AttributeError: 'FormattedParsedAddress' object has no attribute 'EOS'`.

**To Reproduce**
Executing these 5 lines, with the example address from README.md given as input, will result on the AttributeError being thrown only at the fifth li

[2021-12-06 08:32] rbhatia46 opened #107 "RuntimeError: Error(s) in loading state_dict for BPEmbSeq2SeqModel:"
Hi, I am trying to run the retrain script, below code to be precise -
[code]

When I run the above code with **fasttext** instead of **bpemb**, it works fine, but when I am running it with **bpemb**, I get the following error -

[code]

[2021-12-06 14:37] rbhatia46 opened #108 "IndexError: index 12 is out of bounds for dimension 0 with size 12"
Hi,
I am trying to train DeepParse with my custom dataset, I formatted my dataset in the similar formatted expected by DeepParse but while calling retraining, after running for some iterations, I encounter this error -

[code]

Any idea what's going wrong here?

[2021-12-06 15:36] #108 closed

[2021-12-08 02:50] davebulaval commented on #106
Fixed in #109 and version release 0.6.1

[2021-12-08 02:50] #106 closed

[2021-12-08 03:06] davebulaval commented on #107
Have you already trained a model before?

[2021-12-13 18:50] davebulaval commented on #107
This is due to the retrain method using the default `checkpoints` repository.
In version 0.6.2, we handle better this kind of error. Also, the [doc](https://deepparse.org/parser.html#deepparse.parser.AddressParser.retrain) includes a note about it, and the `loggin_path` parameter also include a comment about it.

[2021-12-13 18:50] #107 closed

[2022-01-30 14:04] ChargedMonk opened #111 "Pickling error while retraining [BUG]"
**Describe the bug**
[code]

**To Reproduce**
I'm trying to train on custom tags on my own data like this -

[code]

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Using CPU for training (as dataset is small)

[2022-01-30 14:21] davebulaval commented on #111
- Which model are you trying to retrain (fasttext or bpemb) (with attention or not)?
- Which version of Python?
- Which version of Poutyne?

[2022-01-30 14:21] ChargedMonk opened #112 "Key Error while retraining on custom prediction tags[BUG]"
**Describe the bug**
[code]

**To Reproduce**
Key error is raised when trying to retrain on new prediction tags

[code]

**Desktop (please complete the following information):**
 - OS: Linux
 To be specific I'm running it on google colab.

[2022-01-30 14:28] ChargedMonk commented on #111
@davebulaval, Fasttext without attention. Python  3.8.10, Poutyne 1.8

[2022-01-30 14:42] davebulaval commented on #111
That is what I thought, we have a lot of difficulties with fasttext on Windows.
Can you test with BPEmb to see if the error persist?

[2022-01-30 14:44] ChargedMonk commented on #111
@davebulaval, I tried it on BPEmb and ran into this error -
[code]

[2022-01-30 14:46] davebulaval commented on #112
The error looks more on your side:

It happened here

[code]

This means that some addresses in your batch are not tuples (empty maybe). To retrain, your data need to look like this: `('an address', [tag1_1, tag_2, ...])`.

I will improve error handling to be more clear and add a clearer example.

[2022-01-30 14:47] davebulaval commented on #111
Yes, see your other issue (#112). To me, it looks like some data points are empty. I will try to investigate Windows and fasttext error next week.

[2022-01-30 15:31] ChargedMonk commented on #111
@davebulaval, you're right there were some missing data points. Sorry to trouble you. I'll close both the issues.

[2022-01-30 15:31] #112 closed

[2022-01-30 15:48] davebulaval commented on #111
@ChargedMonk no problem. I'm working RN on a fix to improve the error handling to give users more insight into the problem.

[2022-01-30 16:02] ChargedMonk commented on #111
@davebulaval, I've ran into a couple of issues now -

- When retraining on fasttext, the checkpoint didn't get saved. There was log.tsv and plots but no .ckpt
- On retraining on BPEmb (both on windows and colab), the following error occurs:
[code]

[2022-01-31 01:57] davebulaval commented on #111
The first issue is normal if at least one epoch is not processed.
Second, it seems again like empty addresses. Which language are you working on?

[2022-01-31 02:50] ChargedMonk commented on #111
The language is English but this time there are no empty addresses as Fasttext did train on it but BPEmb ran into this issue (on both Windows & Linux)

[2022-01-31 02:52] davebulaval commented on #111
Will take a look. Can you share you're dataset and code to ease the debug?

[2022-01-31 03:28] ChargedMonk commented on #111
I'm not allowed to share the dataset but I'll share with you some examples and the code.
So the dataset contains international addresses like these -

[code]

[](https://drive.google.com/drive/folders/1g1YMAcYJgG9yQKEgqArk4iSdqlaVU31r?usp=sharing)

[2022-01-31 13:57] davebulaval commented on #111
Looking again at the part where it broke, I am 100% sure that it is an "empty" address. This part of the code sends to bpemb package the address to construct a byte-pair embedding. Then, we construct a list of the decomposition len.

My hypothesis is that you have at least one address that is just a `" "`. So the `for word in address.split():` return an empty iterator and when we are doing the max

[2022-02-02 07:10] ChargedMonk commented on #111
Yeah maybe it was buggy on my part but I don't know why fasttext trained on it while bpemb didn't. Anyways, I recreated the dataset (carefully this time) and it seems to be working. Sorry for all the trouble. Great project btw.

[2022-02-02 07:10] #111 closed

[2022-02-02 14:33] davebulaval commented on #111
It is normal since fasttext and BPEmb don't use the same parsing of words tokens. BPEmb iterates over the token and uses byte-pair encoding. Thus, an address of only whitespace (`" "`) will raise an error when we loop on the tokens. While fasttext will work since we don't loop similarly and it exists an embedding token for a whitespace character.

In the next version, this type of error will be ha

[2022-02-08 10:22] gabryarri opened #114 "[BUG] Error while retraining"
I tried to retrain the model using new tags but this happened:

line 16, in nll_loss
    loss += criterion(pred[i], ground_truth[i])
IndexError: index 12 is out of bounds for dimension 0 with size 12

[2022-02-09 04:08] davebulaval commented on #114
See the new release for better error handling.

[2022-02-09 04:08] davebulaval commented on #112
See the new release for better error handling.

[2022-02-09 09:26] JonnoB opened #116 "Parse address example: cannot import name 'CSVDatasetContainer'"
When running the example code [parse address example](https://github.com/GRAAL-Research/deepparse/blob/master/examples/parse_addresses.py), I get an error when trying to import CSVDatasetContainer. The error reads

ImportError: cannot import name 'CSVDatasetContainer' from 'deepparse.dataset_container' (/usr/local/lib/python3.8/dist-packages/deepparse/dataset_container/__init__.py)

To reproduce r

[2022-02-09 09:56] JonnoB opened #117 "Retrain attention: Caught KeyError in DataLoader worker process 0."
When running the example code [retrain attention model](https://github.com/GRAAL-Research/deepparse/blob/master/examples/retrain_attention_model.py), I get an error when running address_parser.retrain() The error reads

Original Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/torch/utils/data/_utils/worker.py", line 287, in _worker_loop
    data = fetcher.fetch(in

[2022-02-09 13:19] MAYAS3 commented on #116
Hello @JonnoB,

This seems to be a version issue. The `CSVDatasetContainer` has been introduced in v0.6.5 of deepparse. Could you upgrade the package and try again?

[2022-02-09 16:56] davebulaval commented on #117
You are right. I have fixed it and improved `download_from_url()` doc. I have also improved error handling.

Will be included in 0.6.6 that I will release todayl

[2022-02-09 16:56] #117 closed

[2022-02-10 06:52] JonnoB commented on #116
Thank you I have updated to the latest version and CSVDatasetContainer is loading successfully. However, I think the path is incorrect as currently it reads "./a_path.csv". I think the path should be "./data/predict.p" as that is the name of the predict file in the example. However, changing the to load "predict.p" leads to an error because it is a pickle file not a csv.

[2022-02-10 14:57] davebulaval commented on #114
It seems like some addresses are None value in your dataset. We apply a cleaning process onto the addresses (coma cleaning and lower cleaning).

Will improve the validation of dataset with this case also.

[2022-02-10 17:10] davebulaval commented on #116
Fixed in release 0.6.7

[2022-02-11 20:23] davebulaval opened #118 "[Improvements] cli"
# Here is a list of improvements for the CLI

- [x] JSON output (d730d28)
- [x] retraining
- [x] testing
- [ ] ~~Finetuning~~

[2022-02-21 13:38] #57 closed

[2022-02-26 13:15] davebulaval opened #119 "[FEATURE] Freeze layers in retrain"
Add options to select layers to freeze instead of retraining all the models to lower retraining time.

[2022-02-27 22:34] freud14 opened #120 "[FEATURE] Add transform functions on GPU loaded batches."

[2022-02-27 22:35] freud14 commented on #120
Sorry, wrong repo.

[2022-02-27 22:35] #120 closed

[2022-03-16 10:27] munozariasjm opened #121 "Error at importing AddressParser[BUG]"
**Describe the bug**
When triying to import AddressParser there seems to be a problem with gensim.

**To Reproduce**
On a brand new colab. Just do:
[code]
Then, the error is:
[code]
The bug gets easilly solved doing:
[code]
Thus, I think it would be very good to add
[code]
to the requirements.
Regards, and thanks for the effort! :1st_place_medal:

**Setup:**
 - python 3.7

[2022-03-16 14:26] MAYAS3 commented on #121
Hello @munozariasjm,

Gensim is already part of the requirements and installs properly upon installing deepparse. There was a missing dependency for pandas which I have just fixed but everything you need to run the package is included in the setup.

Are you running the latest version of deepparse?
If not could you upgrade and try again?

Il the problem persists, could you please provide some more

[2022-03-16 20:36] munozariasjm commented on #121
Hi!, thanks for the fast answer! :rocket:
Yes, I was working on the develop at
```https://github.com/GRAAL-Research/deepparse.git@dev```.
But now it works like a charm.

Best regards!

[2022-03-16 20:36] #121 closed

[2022-03-21 14:05] davebulaval opened #122 "[FEATURE] Give name to parser when retrained"
Add the option to give a name to a retrained addresses parser.

[2022-03-21 18:21] davebulaval commented on #122
- Add tags set details
- Add freezing layers details
- Add seq2seq params
- Add other details selected by user

[2022-03-21 18:46] davebulaval commented on #119
Added in dev. To be released in 0.7.3

[2022-03-21 18:46] #119 closed

[2022-05-10 19:30] joseandrejv opened #124 "Tag Len DataError Occuring Regardless of Tag Len Matching Address Len"
I'm trying to retrain a Bpemb model with new address tags, and am using the CSVDatasetContainer function to load the data. I've followed all possible guidelines so it'll read in the data without errors. The training data is two columns with the specific formatting. None of the addresses are empties or single whitespaces, and I've corroborated time and time again that the length of each address is

[2022-05-10 19:58] davebulaval commented on #124
Is it possible for you to share your dataset with me (in private) to ease the debugging?

[2022-05-10 20:14] joseandrejv commented on #124
Hello Dave and thank you for replying so promptly.

I'm going to ask my boss, but chances are that I won't be allowed to, as the information is (even in sample form with limited attributes) confidential. Is there anything else I could do to help? Anything I could check, or something?

[2022-05-10 20:15] davebulaval commented on #124
Can you do the following and show me the output:

`pip install -U git+https://github.com/GRAAL-Research/deepparse.git@bug_fix_data_tags_len` (this will install a temporary fix to try to debug the problem).

Then do the following on the dataset,
``

[2022-05-10 20:20] davebulaval commented on #124
No worries. I have pushed code on a branch to try to debug it.

Install the following version of the project using this `pip install -U git+https://github.com/GRAAL-Research/deepparse.git@bug_fix_data_tags_len`. You can later return to the stable version with `pip install -U deepparse`.

Then try running this:

[code]

I have pushed this method that will show us where are the cases where there is

[2022-05-10 20:26] joseandrejv commented on #124
I installed the fix and ran the code. Now there's a unicode error.

"UnicodeDecodeError: 'utf-8' codec can't decode byte 0x80 in position 0: invalid start byte"

I also ran the code after installing -U deepparse again and got the same error.

In pandas I would change the encoding with the encoding argument, how would I fix this with CSVDatasetContainer?

[2022-05-10 20:28] davebulaval commented on #124
Uhm, which language is the addresses? It is possible your CSV is not in UTF-8. Try recreating it but specify UTF-8 encoding. It is possible that there are special characters that look like whitespace but are not.

[2022-05-10 20:35] joseandrejv commented on #124
Wow, that makes sense!

The addresses are in Spanish, but part of the cleaning process involves programmatically replacing all latin characters with plain letters (as well as removing others that aren't a part of the language but have no business being in a standardized address), so I didn't think this would be an issue. I'll try recreating the file with the UTF-8 specification and let you know wh

[2022-05-10 21:21] joseandrejv commented on #124
Ok, I've re-saved the csv with utf-8 encoding specified, and ran the code once again. I'm back where I started, with the same DataError about the lengths of the Tag lists not matching the lengths of the addresses.

[2022-05-10 22:55] davebulaval commented on #124
Ok and does the bug_fix print something useful? (This version of deepparse `pip install -U git+https://github.com/GRAAL-Research/deepparse.git@bug_fix_data_tags_len`)

[2022-05-11 08:35] RiccardoPizzutti opened #125 "No parsing?"
Hey guys,

i installed deepparse on a SageMaker Studio instance. Then i tried this:

from deepparse.parser import AddressParser
address_parser = AddressParser(model_type="bpemb", device=0)
parsed_address = address_parser("Moltkestrasse 27 50674 Köln")
print(parsed_address)

The result is just the parsed string "Moltkestrasse 27 50674 Köln" no errors etc.

Is that a bug?

Thank you very much for yo

[2022-05-11 15:22] MAYAS3 commented on #125
Hello @RiccardoPizzutti,

That's actually normal because printing a FormattedParsedAddress directly only prints the string representation of the address itself. If you wish to obtain the parsing, try running the following:

[code]

You can check out the [docs](https://deepparse.org/parser.html#formatted-parsed-address) for more details.

Thanks for your interest in deepparse!

Let me know if you h

[2022-05-11 15:45] RiccardoPizzutti commented on #125
Thank you so much Marouane!! You had a little typo in the (parsed_address_components => address_parsed_components) but I figured out with the docs.

Thanks again and all the best
Maik

[2022-05-11 15:46] #125 closed

[2022-05-11 17:35] joseandrejv commented on #124
No, first it was the unicode error (which doesn't seem to be an issue now that I changed the file) and now I'm getting the same len error after reinstalling the bug fix version and trying it out again.

[2022-05-12 13:40] davebulaval commented on #124
It would definitely be easier. david.beauchemin.5@ulaval.ca

[2022-05-12 16:23] davebulaval commented on #124
See #127 for details.
The problem where that the list of tags where not properly split. It is fixed in release 0.7.3.

[2022-05-12 16:23] #124 closed

[2022-05-13 19:46] #122 closed

[2022-05-14 06:39] lhlong opened #133 "Cannot config language for fasttext embedding model"
[code]

Could you help to update this method to dowload fasttext model for other language? It's better if we can config language here.

[2022-05-17 08:01] lhlong commented on #133
@davebulaval Thanks for your response.
Your default embedding model is suitable for multinational address parsing. However, if we only want to retrain for one specific language, why don't to use a corresponding word embedding model with language?
I haven't fine-tuned it with another embedding model yet, and I want to do that. So, in my opinion, this feature will make this step works easier.

[2022-05-17 15:18] davebulaval commented on #133
We think it would mean too much refactoring into our codebase as a final thought. So instead, we recommend fine-tuning one of the models on single language addresses.

[2022-05-26 18:56] hummingbird1989 commented on #121
@MAYAS3 I'm facing the same issue when running in Colab. Is there a specific version of deepparse I should be using?
I'm using `deepparse==0.7.4` and `gensim===4.2.0`

[2022-05-26 21:10] davebulaval commented on #121
I will force the setup to use a recent version of `gensim`. Tks for the follow up.

[2022-05-30 15:26] fbougares opened #135 "[FEATURE] cache handling and offline parsing handling"
**Is your feature request related to a problem? Please describe.**
BPEmbEmbeddingsModel  "deepparse/embeddings_models/bpemb_embeddings_model.py" use default "cache_dir" from BPEmb class. This is blocking when we want to overwrite the path of the "cache_dir" which is by  default '~/.cache/bpemb'!!

**Describe the solution you'd like**
I will be better to add an "embeddings_path" param to the BPEmb

[2022-05-30 17:27] davebulaval commented on #135
I will add this in release 0.7.5.

[2022-05-30 21:50] davebulaval commented on #135
What is the objective to change the cache dir?

[2022-06-03 07:35] fbougares commented on #135
@davebulaval It gives more flexibility when we want to change the path of the BPE model. I.E when using the lib in a containerized application.

[2022-06-03 11:31] davebulaval commented on #135
@fbougares, I see! So I guess you change the `CACHE_PATH` variable for the embeddings model?
If so, I think adding a `cache_dir` argument to the class `AddressParser` should also be interesting. That way, it would be more straightforward to change the behaviour.

[2022-06-03 14:25] davebulaval commented on #135
I have added the `cache_dir`argument. You can test it in the dev branch and circle back to me if it works properly.

To install the dev version: `pip install -U git+https://github.com/GRAAL-Research/deepparse.git@dev`

[2022-06-07 14:55] fbougares commented on #135
@davebulaval Thank you for help.

This is working for setting the directory for bpe models but deepparse still download the model checkpoint (bpemb.ckpt and bpemb.version) even if I have the model pre-downloaded in the  `cache_dir` repository.

I thank that `CACHE_PATH` variable in tools.py needs to be updated as well.
The path is setup now as follow :

CACHE_PATH = os.path.join(os.path.expanduser

[2022-06-08 16:01] davebulaval commented on #135
I've pushed a fix to handle properly the `cache_path` for the pretrained model weights. I completely forgot about that case. Now, it should work properly and as expected.

[2022-06-09 08:22] fbougares commented on #135
I tested it and it works properly. Thank you for your speed and reliability.

Any idea about the date of the next release ?

[2022-06-09 16:15] davebulaval commented on #118
0.7.5. include training and testing CLI functions.

[2022-06-13 22:40] #118 closed

[2022-06-13 22:43] davebulaval opened #136 "Looking for improvement ideas for Deepparse"
We are looking for ideas to improve Deepparse. So, if you have any, you can provide them by replying to this issue.

[2022-06-21 14:25] davebulaval commented on #135
@fbougares No need, I will update from this feature.

I think I will add an HTTP fail case to continue the process if a local model is present but the process is not able to verify the version. The fail case will also show a warning message to recommend verification of the newest model version. That way it will not imply changes in the behaviour for others but will handle cleanly (without another

[2022-06-21 15:11] davebulaval commented on #135
@fbougares, I have pushed a minor fix here if you would like to test if it works as you expect https://github.com/GRAAL-Research/deepparse/tree/offline_parsing.

[2022-06-21 17:03] fbougares commented on #135
Not working, still some error related to download :

The Try/except block should be inside the download_from_url function around this call  :

r = requests.get(url, timeout=5)

Regards,

[2022-06-22 09:52] davebulaval commented on #135
@fbougares No, it is not the responsibility of this function to handle the raised errors. Moreover, if I add it there, the download of model weights will also be handled differently, which it should not.

It is really `latest_version`responsability to handle it.

Is it possible for you to give me the HTTP error raised?
That may not be a 4xx or a 5xx which I infer would be the raised error range.

[2022-06-22 10:03] fbougares commented on #135
Here is the error :

`urllib3.exceptions.MaxRetryError: HTTPSConnectionPool(host='graal.ift.ulaval.ca', port=443): Max retries exceeded with url: /public/deepparse/bpemb.version (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7ffd209288b0>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known'))
`

[2022-06-22 10:34] davebulaval commented on #135
That was not the error I expected!

I've just pushed a new commit with a fix for it. If you could test it.

[2022-06-23 16:34] davebulaval commented on #135
@fbougares, it is now in the dev version. I'll release it in the next release (probably in a month or so).

[2022-06-23 16:34] #135 closed

[2022-06-24 09:22] duarteocarmo commented on #136
Hey @davebulaval  - great library!

One thing I can think of is a "searcher". (e.g., imagine I have a long text, and I want to detect all addresses in that text..)

[2022-06-24 09:52] davebulaval commented on #136
Hi, @duarteocarmo tks!

It is clearly a nice use case that we have already thought about and put effort into (with an internship). The problem is that we cannot get our hands on a nice dataset to train statistical models on. We were able to do some work on English text, but we cannot make a multilingual approach as of today due to the lack of datasets.

Moreover, if you have data in your possessio

[2022-06-24 09:53] duarteocarmo commented on #136
I think any email dataset would do no? 😉

[2022-06-24 10:20] davebulaval commented on #136
Email datasets are typically not multilingual; thus, it is not a nice dataset to train statistical models on for a multinational case. Since Deepparse is multilingual, it would be incoherent to propose monolingual solutions. Moreover, email datasets are, by design, short text (and are monolingual) that might not generalize well for longer text.

[2022-06-24 10:58] davebulaval commented on #136
For email signatures, I would use REGEX instead of statistical models since people usually place addresses "below" their names. Thus, it would be easier to extract using REGEX.

We also thought about using SpaCy NER to pre-annotate a dataset, but the problem is still creating a multinational addresses dataset. That is, yes, I can validate addresses written in French and English but not in other la

[2022-07-04 02:18] MasseGuillaume commented on #136
I think the parsing for apartments in Canada can be improved:

If you take a look at:
https://www.canadapost-postescanada.ca/cpc/en/support/kb/sending/general-information/how-to-address-mail-and-parcels

[code]

obtained:

[code]

expected:

[code]

[2022-07-04 11:03] davebulaval opened #137 "Proper hyphen linked address components (unit-address) splitting"
I think the parsing for apartments in Canada can be improved:

If you take a look at:
https://www.canadapost-postescanada.ca/cpc/en/support/kb/sending/general-information/how-to-address-mail-and-parcels

[code]

obtained:

[code]

expected:

[code]

NB. libpostal gives the same incorrect result:

[code]

[code]

_Originally posted by @MasseGuillaume in https://github.com/GRAAL-Research/deepparse/i

[2022-07-04 15:00] davebulaval commented on #137
Out-of-the-box performances evaluated on a [new dataset for these cases](https://github.com/GRAAL-Research/deepparse-address-data#about-the-hyphen_unit_street_numberp-data) yields the following performance.

| Model Type  | Accuracy |
|-------------|----------|
| FastText    | 86,50    |
| FaxtTextAtt | 87,72    |
| BPEmb       | 71,85    |
| BPEmbAtt    | 87,81    |

[2022-07-04 15:04] davebulaval commented on #136
@MasseGuillaume, I've pushed a fix in dev to handle this case. However, since during training, no proper cases were seen, the performance yielded lower results than usual performance (see [here](https://github.com/GRAAL-Research/deepparse/issues/137#issuecomment-1173914774)). Therefore, I will work on new models, but it will take a few days to create them.

In the meantime, I've created a new [sma

[2022-07-04 15:47] davebulaval commented on #136
V2 (I've changed the approach)

@MasseGuillaume, I've pushed a fix in dev to handle this case during parsing where one can use the flag `with_hyphen_split` to handle these cases. However, since during training, no proper cases were seen, the performance yielded lower results than usual performance (see [here](https://github.com/GRAAL-Research/deepparse/issues/137#issuecomment-1173914774)). I've cr

[2022-07-07 15:14] davebulaval commented on #136
@MasseGuillaume it is released in 0.8.0.

[2022-07-08 16:27] AndrewIngram commented on #136
Just spitballing here, but is there any value in making it possible to restrict the scope of the parser? For example, we know all the addresses we get are in the UK, so we're wondering if adding that as a constraint could either improve the accuracy or speed/memory usage.

[2022-07-08 17:25] davebulaval commented on #136
Hi @AndrewIngram, It would improve accuracy but not speed or memory usage. However, if we reduce the model scope (i.e. size), we could reduce the model size, thus decreasing memory usage and improving speed since the model will only focus on one country.

Unfortunately, I don't see an easy way to implement this that will not require too much time for me as a single dev.

However, there is an optio

[2022-07-08 22:08] davebulaval commented on #136
Hi @AndrewIngram, I've worked on this matter for an example (i.e. reducing the seq2seq hidden size for both models) and unfortunately results are not improving for the memory usage or the processing speed for both models.

However, you can improve performance for specific countries using our [public dataset](https://github.com/GRAAL-Research/deepparse-address-data). So you could download the datas

[2022-07-15 06:47] zubairshahzadarain opened #139 "Retraining With Our Own Data"
Dear Team
I have an address dataset of countries that are not on your list.
I want to train a model, but I am facing an issue with how to prepare data so I can use it for training.
I have an addresses dataset, but how I can give tags to all addresses; it's 4.5 million addresses.
I have seen the sample file you use to tag every word in the address, but is there any way to  tag all datasets
please

[2022-07-15 08:11] zubairshahzad commented on #139
can you support how i can prepare dataset from addresses

[2022-07-15 14:20] davebulaval commented on #136
Hi, @zubairshahzad,

Since it is not an improvement idea, I will respond to the other issue (#139) you have opened.

[2022-07-15 14:32] davebulaval commented on #139
Hi @zubairshahzad,

We offer code examples to
1) [retrain a parsing model](https://deepparse.org/examples/fine_tuning.html) that guides you into how one can use annotated (already parsed address) to improve performance, and
2) [retrain with new prediction tags](https://deepparse.org/examples/retrain_with_new_prediction_tags.html) that will guide you on how one can change the tag set and retrain th

[2022-07-15 15:08] MAYAS3 commented on #139
Hello @zubairshahzad,

I think the strategy proposed by @davebulaval is your best bet. If I could add one thing it would be to try and clean your data a little bit by removing unnecessary punctuation and lowercasing your addresses to better match the state of addresses in the original dataset. This should limit model errors which would be due to the address structure.

As pointed out by @davebulav

[2022-07-18 15:11] crtnx opened #140 "PO Boxes"
Dear friends,

the paser works well for generic street addresses, but when I've tried to parse a PO Box US address, it fails:

`parsed_address = address_parser("PO Box 40070 Nashville TN 37204")`

`[('40070', 'StreetNumber'), ('po box', 'StreetName'), (None, 'Unit'), ('nashville', 'Municipality'), ('tn', 'Province'), ('37204', 'PostalCode'), (None, 'Orientation'), (None, 'GeneralDelivery'), (None,

[2022-07-19 14:35] crtnx commented on #140
Hi @davebulaval,

thanks for providing me with the explanation. As OSM data has no PO Box addresses, libpostal has a builtin code for generating fake PO Boxes and replaces portions of real street addresses with it. I could generate enough POBox annotated examples for you using libpostal geodata generator, however please define the following:

- names of tags for POBox related information, seems th

[2022-07-19 14:46] davebulaval commented on #140
We have the "GeneralDelivery" tag that could be used for this. Otherwise, we will need to introduce a new tag. What do you think (@MAYAS3 also)?
I don't know if other countries use it. I know that Canada and USA use it, and I'm pretty sure UK also, but other than that, more research needs to be done.
Usually, a thousand or so per country is more than enough. If you provide the dataset, I will use

[2022-07-19 17:38] MAYAS3 commented on #140
We could use *GeneralDelivery* indeed! Perhaps even rename it to something like *PO Box* since it doesn't really represent an essential tag for the original dataset. We could also go with more granularity and have an additional tag for the PO Box number.

[2022-07-22 09:06] crtnx commented on #140
Hi there @davebulaval, @MAYAS3,

sorry for delay, working with libpostal generator is not an easy task... In short, I was able to generate 89550 POB addresses for US, UK and CA. Unfortunately the data in native libpostal format, so some massaging is needed to convert it to whatever format you need. The data is contained in .TSV file where each line is like this:

`en	ca	P.O./po_box Box/po_box #/po

[2022-07-22 15:05] davebulaval commented on #140
I've just spoken with @MAYAS3, and he will handle the conversion. After that, I will handle the training of the new models.

[2022-07-22 16:38] crtnx commented on #140
Guys,
I've just uploaded the file to this location: [https://drive.google.com/file/d/18F9PbU6KPHKAiOevj5x8tWsUErYb6AbB/view?usp=sharing](https://drive.google.com/file/d/18F9PbU6KPHKAiOevj5x8tWsUErYb6AbB/view?usp=sharing)
the link will be accessible during a week, so please download the file as soon as possible. And good luck with the retraining the new model.

[2022-07-22 16:43] davebulaval commented on #140
Perfect! We will keep you updated.

[2022-07-26 00:54] MAYAS3 commented on #140
Thanks @crtnx !

I've been able to download the file successfully. We'll keep you posted!

[2022-07-27 02:51] Tangolin opened #141 "[BUG] Unable to load fasttext attention model"
**Describe the bug**
When a `fasttext_attention` retrained model is loaded, the `handle_model_name()` function in `tools.py` incorrectly creates the model type as 'fasttext_' instead of 'fasttext', therefore we are unable to load a retrained Fasttext model.

**To Reproduce**
[code]

**Expected behavior**
The model type should be created correctly and the model can then be loaded.

**Screenshots**

[2022-07-27 15:41] davebulaval commented on #141
Hi @Tangolin,

TKS for reporting this error. It is a bug due to a change in 0.7.5. In this release, we have introduced the user named retrain parsing model, and to do so, we had to change the model naming (it was `"FasttextAttention"` before). Thus, we were not removing the underscore. Nice catch!

I have just pushed a bug-fix; as soon as tests pass, I will merge it in dev and release a bug-fix to

[2022-07-27 16:55] davebulaval commented on #141
Merge in dev (259b7ac03a86484ba80f1c123b4f75373a3991d8) and will be release in 0.8.2

[2022-07-27 16:55] #141 closed

[2022-07-31 06:33] crtnx opened #142 "Github Discussions"
Dear friends,

currently there is no place to ask questions or discuss details of the project. Please add Discussions for github: https://docs.github.com/en/discussions/quickstart

[2022-07-31 16:42] davebulaval commented on #142
I've just opened the Discussions feature.

[2022-07-31 16:42] #142 closed

[2022-07-31 16:44] davebulaval commented on #136
Moved the discussion into the Discussions feature from GitHub. See [here](https://github.com/GRAAL-Research/deepparse/discussions/144)

[2022-07-31 16:44] #136 closed

[2022-08-04 17:41] ml5ah opened #146 "Export to ONNX"
**Is your feature request related to a problem? Please describe.**
A script to convert the Address Parser (.ckpt) model to ONNX (.onnx)?

**Describe the solution you'd like**
Has someone successfully converted the address parser model to onnx format?

[2022-08-04 18:21] davebulaval commented on #146
I've looked at [PyTorch doc](https://pytorch.org/docs/stable/onnx.html), and it still seems like you need to provide a batch-a-like dataset for the export.

If you come up with a method that can export the `AddressParser.model` (model) attribute into an ONNX format, I will be more than happy to merge it into a PR. Otherwise, I don't find ONNX helpful and will only provide a new `save_address_parse

[2022-08-04 18:21] ml5ah commented on #146
Thanks for the reply, @davebulaval!

Yes, that's correct - would be the best way. I have been trying to work with the inbuilt export function in torch but keep running into some issues. The export call works but having trouble initializing an inference session in onnxruntime.

Fixing the batch_size to be 1 should be good as well, for starters!

Do share any insights/suggestions. Thanks!

FYI - my

[2022-08-04 18:23] ml5ah commented on #146
@davebulaval saw your updated reply - got it, that makes sense. Sure, I'll keep you posted if I have any success.

[2022-08-04 18:24] davebulaval commented on #146
It seems like a float typing error (it converts some into a float and others into a long float). LSTM parameters are LongTensor, and it may be there the problem.

[2022-08-04 18:25] davebulaval commented on #146
This post might be useful https://stackoverflow.com/questions/57299674/trouble-converting-lstm-pytorch-model-to-onnx.

[2022-08-04 20:00] davebulaval commented on #146
@ml5ah I've just added the `save_model_weights` method to the AddressParser class into dev. It saves the PyTorch state dictionary into a pickle format.

If you need to use the model in another ML framework or code base (e.g. Java, etc.), you can 'simply' load the weights matrix. Usually, it is convenient, but you might need some naming/format conversion.

[2022-08-08 17:10] ml5ah commented on #146
Thanks @davebulaval! That function helped and I was able to move forward, albeit faced some more roadblocks along the way.

I faced 2 problems:
1. The size of input tensor is variable based on the number of "words" in the input address text. This impacts the decomposition lengths input as well. Solved this problem temporarily to unblock but not sure if ONNX can handle it.

2. While exporting, ther

[2022-08-08 17:33] davebulaval commented on #140
Hi @crtnx,

I will start, this week or so, a fine-tuning process for the three countries provided and will release a new model and a new table with performance.

Also, for a larger performance increase, I have manually created a list of countries that use PO boxes and the typical way to write it in the address. Is it possible for you to also add these countries? Here is the country, the PO box wri

[2022-08-08 17:54] davebulaval commented on #146
@ml5ah I see. Yeah, it seems like it is not for now.

And what exactly is your objective? In which language are you trying to import?

[2022-08-08 18:07] ml5ah commented on #146
@davebulaval objective is to deploy the pre-trained address parser model for inference using onnxruntime (in either python or java).
To do this, I've been trying to convert the model to onnx using python.

[2022-08-08 18:36] davebulaval commented on #146
Ok, I got it. Do you want the address parser as an API-like service?

[2022-08-09 04:00] ml5ah commented on #146
Yep, exactly. With the constraint that inference is using onnxruntine with no dependency on PyTorch.

[2022-08-09 14:13] crtnx commented on #140
Hi @davebulaval,

thanks for the heads up, I am glad to be helpful. Unfortunately I am pretty busy these days and not sure when I'll have a time to work on the other countries. Hopefully sooner than later ;)

Would like to make a comment about PO Box writing ways per country - thanks for providing me with this info, however libpostal has its own way to format PO Boxes I cannot deviate from, and I

[2022-08-09 14:17] davebulaval commented on #146
Keep us updated on your progress. I would love to have 1) the script for ONNX conversion and 2) the script to bundle it into an API. It would be a great doc improvement to have that.

[2022-08-09 14:19] davebulaval commented on #140
@crtnx Ohh I did not know that. Do your best to get most countries on the list! We will work with that. There is no rush.

[2022-08-11 16:00] davebulaval commented on #140
Updates:
11/08: Yeah, performance is not as good as expected after a fine-tuning procedure. It barely reaches 80%. I think there is not enough data. I will try another training loop with a warm-up on the PO box data.

[2022-08-19 14:38] davebulaval commented on #140
@crtnx So far, there is a regression in the parser performance for non PO boxes address of about 10%. Also, both models' performances on PO box addresses are not as good. We will not release a new version of the model until we get more addresses.

[2022-08-20 10:31] IvanShift opened #153 "[BUG] Error during downloading the weights for the network bpemb."
Hello!
It's impossible to download weights for this network. Could you upload this file somewhere else?

**To Reproduce**

[code]
Full error message:
[code]
**Expected behavior**
Successfully downloaded the weight of this model

**Desktop:**
 - OS: Ubuntu 22.04
 - Version: 0.9.1

[2022-08-21 16:12] davebulaval commented on #153
This is a time-out error. It is possible our server was momentarily down when you tried to download the pre-trained weights. Try it again.

[2022-08-21 16:23] IvanShift commented on #153
I assume that access from Russia is blocked.

[2022-08-21 16:42] davebulaval commented on #153
It's probably the case. Maybe use a VPN to download the pre-trained weights. However, we verify if the model is the latest. If you can download the weights, I can figure out a way to remove the version verification with an argument.

[2022-08-21 17:02] IvanShift commented on #153
Yes, everything is OK with VPN. It would be nice if you added this argument (to remove the version check)

[2022-08-21 17:21] davebulaval commented on #153
Will do.

[2022-08-21 20:48] davebulaval commented on #153
@IvanShift I have pushed a feature to allow an AddressParser to be used offline in dev. Here is an example:

[code]

You need to pre-download all the dependencies. For that, you can use our [`download_model`](https://deepparse.org/cli.html#download) CLI function.

If you can take a lot and it and come back to me with other improvements or tell me if everything is ok, it would be appreciated.

You

[2022-08-24 15:16] davebulaval commented on #153
Will close since merge in dev.

[2022-08-24 15:16] #153 closed

[2022-09-23 09:45] AjinkyaIndulkar opened #156 "[BUG] `SSLError` when downloading model weights of model type: `bpemb`"
**Describe the bug**

When trying to use the `deepparse.parser.AddressParser` class with `model_type="bpemb"`, the model weights download fails due to an `SSLError`:

[code]

**To Reproduce**

Delete model weights cache, most likely `~/.cache/deepparse`, and attempt to initialise the class:

[code]

**Expected behavior**

The model download should not fail.

**Desktop:**

[code]

I am using `deepp

[2022-09-23 13:18] davebulaval commented on #156
@AjinkyaIndulkar  It's BPEmb to fix it since they do the request call. I've opened an [issue](https://github.com/bheinzerling/bpemb/issues/63). Their SSL certificate must have expired.

In the meantime, can you open a PR with your hot-fix so we can release a hot-fix to make it until the bug is fixed?

[2022-09-23 13:26] AjinkyaIndulkar commented on #156
yeah sure.

[2022-09-23 14:35] AjinkyaIndulkar commented on #156
@davebulaval I've opened a PR with the hotfix: https://github.com/GRAAL-Research/deepparse/pull/157

can you please review?

[2022-09-23 15:14] davebulaval commented on #156
Done. I've changed the place to wrap around BPEmb instead of deepparse address parser code. Will publish it as soon as tests pass.

[2022-09-23 17:03] davebulaval commented on #156
Release in 0.9.2. As per BPEmb's mention, they have also pushed a temporary hot-fix that removes SSL certificate verification and will investigate why the certificate is not working since it has been renewed recently.

The patch will be used to handle the potential certificate error.

[2022-09-23 17:03] #156 closed

[2022-10-11 08:04] fbougares commented on #135
Thank you for the quick reply:

What you proposed is good.

If the model exist, try to get the latest version but if there is a fail to get it show a warning and continue with the existing model.

Regards,

[2022-11-09 02:14] tapiatellez opened #166 "Retrain an Address Parser for Single Country Uses"
**Describe the bug**
While going through the "Retrain an Address Parser for Single Country Uses" process I was trying to retrain the model for Mexico's only usage and everything was going well until I was testing the address_parser object with the test_container data.

**To Reproduce**
# Import the train and test datasets into memory to retrain our parser model
clean_root_dir = os.path.join(root_d

[2022-11-10 20:46] MAYAS3 commented on #166
Hello @tapiatellez,

This seems to be a multiprocessing issue related to PyTorch's Dataloader. When using **deepparse**'s `retrain()` and `test()` you can specify the number of subprocesses used to load the data via a Dataloder. However, in macOS and Windows, the *spawn* method is used by default to initialise the subprocesses. As opposed to the *fork* starting method, which is the default in Linu

[2022-11-14 19:59] tapiatellez commented on #166
Hello @MAYAS3

Thank you for your response. I tried the `num_worders=0` solution on the `test()` function and it worked and returned the following results:
<img width="1131" alt="Screen Shot 2022-11-14 at 13 46 36" src="https://user-images.githubusercontent.com/13044100/201751718-ce9b80c4-2f5d-49d6-8490-550c4894cc3c.png">

I then proceeded to train the model using the `train()`function but the `nu

[2022-11-14 20:17] davebulaval commented on #166
Change `0.8` to `train_ratio=0.8`. We have changed the interface to add a `val_container,` and as I can see, this example was not updated. Thank you for bringing this bug to our attention. I will fix it.

[2022-11-16 16:04] tapiatellez commented on #166
Thank you so much, I was able to train the model for single-country purposes only.

[2022-11-16 16:04] #166 closed